<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Firebase</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">

  <input type="text" class="form-control" ng-model="message.text" />

  <button type="button"
          class="btn btn-success"
          ng-click="setMessage()">Set Message</button>

  <button type="button"
          class="btn btn-warning"
          ng-click="updateMessage()">Update Message</button>

  <button type="button"
          class="btn btn-danger"
          ng-click="deleteMessage()">Delete Message</button>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
